*{
    border: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: url(/images/wendemobg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100hv;
    margin: 0;
    opacity: 200px;
    backdrop-filter: blur(10px);

}




.box{
    background: linear-gradient(200deg,#271c20b7, #3c8bbc2f );
    width: 92%;
    height: 100%;  
    margin: 35px 0px 0px 40px;
    /* margin: auto; */
    padding: 20px 45px 60px;
    border: 7px solid #2a2226dd;
    border-top-left-radius:70px;
    border-left: 12px;

}

.box:hover{
 
    background: linear-gradient(160deg,#271c20e7, #86b0cb56 );
}


.allD{
    background: linear-gradient(120deg,#271c201b, #1d1f23 );
    border: 1px solid rgba(120, 170, 187, 0.543);
    backdrop-filter: blur(10px);
    box-shadow: 0.5px 4px  4px 4px rgba(120, 170, 187, 0.146);
    padding: 0px 20px 0px;
    margin: 30px 0px 0px;
    border-radius: 16px;
    z-index: 1;
    position: sticky;
    top: 0;
}

#welcomeMessage {
    margin-bottom: 20px;
    color: #b0aeaeb1;
    font-size: 14px;
    text-align: center;
}

#btn{
    width:30%;
    padding: 3.2px 40px 3.2px;
    font-size: 10px;
    text-align: center;
    margin: 10px 0px 10% 260px ;
    border-radius: 4px;
    background:transparent ;
    box-shadow: 0.5px 1px  0.5px#b1c6d48e;
}

#btn:hover{
    background-color: rgba(42, 57, 62, 0.731);
}


/* tootip */
.notAvailable {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .notAvailable .tooltiptext {
    visibility: hidden;
    width: 100px;
    height: 110%;
    background-color: rgba(31, 30, 30, 0.945);
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 14px 0;
    font-size: 14px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 58%;
    margin-left: -60px;
  }
  
  .notAvailable:hover .tooltiptext {
    visibility: visible;
  }

  .notAvailable:hover.hover.h2{
    opacity: 2;
    color: red;

  }
#span{
    display: flex;
    background: linear-gradient(120deg,#271c201b, #141619 );
    border-radius: 8px;
    height: 65px;
    margin: 0px 0px 40px
}

#span:hover{
    background: linear-gradient(5deg,#271c20e4, #262b32fb );
}

.spanDivOne, .spanDivTwo{
    width: 90%;
}

#showBalance {
    color:#fff;
    align-items: center;
    width:60%;
    text-align: center;
    margin: 10px 20% 0px;
}

#showBal{
    color:#fff;
    align-items: center;
    width:60%;
    text-align: center;
    margin: 10px 20% 0px;
}

/* Responsive Grid */
.grid {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: auto;
    /* margin: 20px 0px 0px; */
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: linear-gradient(120deg,#271c201b, #141619 );
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

.service {
    background-color: #514b4e9d;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0px 0px 0px;
}

.service:hover{
    background-color:  #191416;
     transform: rotate(10deg);
     transition: 12sec ease-in-out;
     border-radius:13px ;
     color:  #857b7fe7;
}

.service h2   {
    font-size: 18px;
    margin-bottom: 10px;
}

.service a{
    text-decoration: none;
    text-align: center;
    color: #ffffffa0;
}



button {
    background-color: #191416;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #463f41a8;
}

/* i{
    font-size: 27px;
} */

p {
    margin-top: 10px;   
    font-size: 14px;
    color: #666;
}

@media(min-width:400px) {

    
    .span{
        display: flex;
    }

    #showBalance{
        width: 100%;
    }

    .service:hover{
        transform: scale(0.9);
        border-radius:32px;
        transition: 9sec  ease-in ;
        transition-duration: 1s;
    } 

    .service{
        padding: 20px;
        gap: 30px;
    }

    .grid{
        margin-bottom: -10px;
    }


    #btn{
        margin-left:100px ;
        width: 140px;
    }
}




/* Responsive layout for larger screens */
@media (min-width: 710px) {
 .grid{
        grid-template-columns: repeat(2, 2fr);
        width: fit-content;
        /* margin-left: 40px; */
   
      }

      
    #showBalance{
        width: 60%;
    }


      .container{
        width: fit-content;
  
      } 
      .service{
      width: 240px;
      }
    .service:hover{
     transform: rotate(7deg);
     transition: 12sec ease-in-out;

    }
    
    #OtherServce{
        margin-left: 0%;
        display: block;
        border: 1px solid  green;
     }
    
}



@media (min-width:1013px) {
    .grid{
        grid-template-columns: repeat(3, 3fr);
        width: fit-content;
        margin:0px 300px 0px 0px ;
      }

      .service{
        width: 245px;
      }
  
      #OtherServce{
        margin-left: 50%;
        display: block;
        border: 1px solid  green;
     }
    
    
}



@media (min-width: 1120px) {

    .box{
        margin-bottom: -10%;
    }
    .grid{
        grid-template-columns: repeat(3, 3fr);
        width: fit-content;
        padding-bottom  : -10%;
        margin-top: 7px;
        margin-left:10px ;
        }

        .service{
            width: 275px;
            height: 130px;
            padding: 5px;
          }  

        .service:hover{
            transform: rotate(3.2deg);
        }

        #OtherServce{
           aspect-ratio: 12/4;
           margin-left: 25%;
           border: 1px solid  green;
        }

    @media (min-width: 1200px) {
        .grid{
            grid-template-columns: repeat(4, 2fr);
            width: fit-content;
            padding: 15px;
            margin: auto;
            margin-top: 7px;
        }

        .service{
            width: 250px;
            height: 130px;
            padding: 7px;
          }  

          #OtherServce{
            aspect-ratio: 12/4;
            margin-left: 0%;
         }
}

}